<%! from django.utils.translation import ugettext as _ %>
<h2>${_("Thanks for Registering!")}</h2>
<p class='activation-message'>${"Ваш обліковий запис ще не активовано. Посилання для активації надіслано на {email} разом з інструкціями для активації облікового запису.".format(email="<strong>{}</strong>".format(email))}</p>
<p class='activation-message'>Просимо вас звернути увагу, що активаційний лист може потрапити до теки зі спамом у вашій поштовій скриньці. Тому, будь ласка, також перевіряйте наявність нашого листа у розділі спаму.</p>
