## mako

<%namespace name='static' file='/static_content.html'/>

<script type="text/javascript" src="//vk.com/js/api/openapi.js?115"></script>

<!-- VK Widget -->
<div id="vk_groups"></div>
<script type="text/javascript">
VK.Widgets.Group("vk_groups", {mode: 0, width: "350", height: "300", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 77477258);
</script>

<p></p>
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fprometheusmooc&amp;width=350&amp;height=258&amp;colorscheme=light&amp;show_faces=true&amp;header=false&amp;stream=false&amp;show_border=false&amp;appId=195643780508930" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:350px; height:258px;" allowTransparency="true"></iframe>

<p></p>
<a class="twitter-timeline" href="https://twitter.com/PrometheusMOOC" data-widget-id="515105588456329218" data-tweet-limit="1">Твіти користувача @PrometheusMOOC</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

